class WebringBanner extends HTMLElement {
  constructor() {
    super();

    this.ringtitle = "{{ meta.title }}";
    this.url = "{{ meta.url }}";
    this.membercount = {{ members | length }};

    this.shadowObj = this.attachShadow({ mode: "open" });
    this.shadowObj.innerHTML = `{% include "embed-template.html" %}`;
  }
}

customElements.define("webring-banner", WebringBanner);
